# General
.idea/
*.

# Archivos compilados y de construcción
*.class
*.jar
*.war
*.ear

# Carpetas de compilación
**/target/
build/
dist/
out/
bin/

# Codename One específicos
cn1-build.xml
server.properties

# Archivos de configuración de NetBeans
nbproject/private/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml

# Sistema y otros temporales
.DS_Store
Thumbs.db
*.log
*~
.mtj.tmp/
hs_err_pid*